* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 65px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-decoration: none;
}

nav ul li {
    list-style: none;
}